<phpunit>
	<testsuites>
		<testsuite name="default">
			<file>./tests/mainTest.php</file>
			<file>./tests/themeCollectionTest.php</file>
			<file>./tests/packagesTest.php</file>
			<file>./tests/pluginsTest.php</file>
			<file>./tests/searchSitemapTest.php</file>
			<file>./tests/getNavigationInfoTest.php</file>
			<file>./tests/getAllTest.php</file>
			<file>./tests/beforeSitemapTest.php</file>
			<file>./tests/initContentTest.php</file>
			<file>./tests/configParserTest.php</file>
			<file>./tests/copyContentTest.php</file>
			<file>./tests/changeContentEditorModeTest.php</file>
			<file>./tests/publishSinglePageTest.php</file>
			<file>./tests/broccoliTest.php</file>
			<file>./tests/px2ceTest.php</file>
			<file>./tests/px2meTest.php</file>
			<file>./tests/tableApiTest.php</file>
		</testsuite>
	</testsuites>
</phpunit>
